<!DOCTYPE html>
<!--*********************************************************************
 * @author	Kingsley U. Uwode II, contractor via Robert Half Technologies
 * @since	May 26 2015
 * @link	mailto:kingzmeadow@hotmail.com
 *-->

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>_PAGE_TITLE_</title>
_CASCADING_STYLE_SHEET_
_JAVASCRIPT_
    </head>
    <body id="_oci" onload="_oci.load(event);" onpageshow="if (event.persisted) noBack();" onUnload="">
        <div id="eye_candy_body" class="_EYE_CANDY_CLASS_">
            <div id="wall">
                <img id="pic" src="media/image/eye_candy_body_1.jpg" alt=""/>
                <video id="vid" poster="media/image/eye_candy_body_1.jpg" preload="metadata" muted autoplay loop>
                    <source src="http://to15.onewalk.ca/content/video/eye_candy_body_2.mp4" type="video/mp4">
                    <source src="http://to15.onewalk.ca/content/video/eye_candy_body_2.ogv" type="video/ogg">
                </video>
                <div id="trim_animate">
                    <div id="blind_1" class="block"></div>
                    <div id="blind_2" class="block">
                        <div></div>
                    </div>
                    <div id="inner_a" class="rectangle"></div>
                    <div id="blind_3" class="block">
                        <div></div>
                    </div>
                    <div id="inner_b" class="rectangle"></div>
                    <div id="blind_4" class="block">
                        <div></div>
                    </div>
                    <div id="inner_c" class="rectangle"></div>
                    <div id="blind_5" class="block"></div>
                    <div id="blind_6" class="block"></div>
                </div>
                <div id="trim_top"></div>
                <div id="trim_bottom"></div>
                <div id="trim_left" class="block"></div>
                <div id="trim_right" class="block"></div>
            </div>
        </div>
_VIEW_
    </body>
</html>
