
            <div id="step_01" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-  <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/>
                </div><br>
                <h1>-TXT-HEADER-</h1>
                <div class="line_margin">-TXT-AUTOMATED-</div>
                <ul>
                    <li class="line_margin">-TXT-ITEM-1-</li>
                    <li class="line_margin">-TXT-ITEM-2-</li>
                    <li class="line_margin">-TXT-ITEM-3-</li>
                    <li class="line_margin">-TXT-ITEM-4-</li>
                    <li class="line_margin">
                        <div class="line_margin_sub">-TXT-ITEM-5-</div>
                        <div class="line_margin_sub">-TXT-ITEM-6-</div>
                        <div class="line_margin_sub">-TXT-ITEM-7-</div>
                        <div class="line_margin_sub">-TXT-ITEM-8-</div>
                        <div class="line_margin_sub">-TXT-ITEM-9-</div>
                        <div class="line_margin_sub">-TXT-ITEM-0-</div>
                    </li>
                </ul>
            </div>
