
            <div id="step_07" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
                <h1>-TXT-HEADER-</h1>
                <div class="line_margin">-TXT-RENEW-YOUR-</div>
                <div class="line_margin">-TXT-PRE-REGISTER-NOW-</div>
                <div class="line_margin">-TXT-FUNDRAISING-MINIMUM-</div>
                <div id="container_upsell_option" class="line_margin">
                    <table class="field_row">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="uo_2" type="radio" name="upsell_option" value="_UPSELL_PRE_REGISTER_2_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text data-oci-main-container="container_upsell_option"/>
                                </td>
                                <td>
                                    <label class="field_text" for="uo_2">-TXT-UPSELL-PRE-REGISTER-2-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="uo_1" type="radio" name="upsell_option" value="_UPSELL_PRE_REGISTER_1_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="uo_1">-TXT-UPSELL-PRE-REGISTER-1-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="uo_0" type="radio" name="upsell_option" value="_UPSELL_PRE_REGISTER_0_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="uo_0">-TXT-UPSELL-PRE-REGISTER-0-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="uo_no" type="radio" name="upsell_option" value="No" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="uo_no">-TXT-UPSELL-NO-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="line_margin">
                    <img src="media/image/upsell_pre_register.jpg" alt="-TXT-IMG-UPSELL-ALT-"/>
                </div>
            </div>
