
            <div id="step_02" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
                <h1>-TXT-HEADER-</h1>
                <div class="line_margin">-TXT-GET-STARTED-</div>
                <div class="line_margin">-TXT-NOTE-</div>
                <div class="line_margin info_columns_left">
                    <div>
                        <label for="name_first">-TXT-NAME-FIRST-</label>
                        <input id="name_first" type="text" name="name_first" value="_NAME_FIRST_"/>
                    </div>
                    <div class="line_margin">
                        <label for="name_last">-TXT-NAME-LAST-</label>
                        <input id="name_last" type="text" name="name_last" value="_NAME_LAST_"/>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-GENDER-<span class="color_required">*</span></label>
                        <input id="g_male" type="radio" name="gender" value="MALE" data-oci-main-validate="required" data-oci-main-input-not-text/><label class="field_text" for="g_male">-TXT-MALE-</label>
                        <input id="g_female" type="radio" name="gender" value="FEMALE" data-oci-main-validate="required" data-oci-main-input-not-text/><label class="field_text" for="g_female">-TXT-FEMALE-</label>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-PARTICIPATION-TYPE-NAME-</label>
                        <span class="field_text">_PARTICIPATION_TYPE_NAME_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-TEAM-NAME-</label>
                        <span class="field_text">_TEAM_NAME_</span>
                    </div>
                </div>
                <div class="line_margin info_columns_right">
                    <div>
                        <label for="primary_street1">-TXT-PRIMARY-STREET1-</label>
                        <input id="primary_street1" type="text" name="primary_street1" value="_PRIMARY_STREET1_"/>
                    </div>
                    <div class="line_margin">
                        <label for="primary_street2">-TXT-PRIMARY-STREET2-</label>
                        <input id="primary_street2" type="text" name="primary_street2" value="_PRIMARY_STREET2_"/>
                    </div>
                    <div class="line_margin">
                        <label for="primary_city">-TXT-PRIMARY-CITY-</label>
                        <input id="primary_city" type="text" name="primary_city" value="_PRIMARY_CITY_"/>
                    </div>
                    <div class="line_margin">
                        <label for="primary_state">-TXT-PRIMARY-STATE-</label>
                        <select id="primary_state" name="primary_state">
-OPTIONS-USA-
                        </select>
                    </div>
                    <div class="line_margin">
                        <label for="primary_zip">-TXT-PRIMARY-ZIP-</label>
                        <input id="primary_zip" type="text" name="primary_zip" value="_PRIMARY_ZIP_"/>
                    </div>
                </div>
            </div>
