
            <div id="step_00" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-</div><br>
                <h1>-TXT-HEADER-</h1>
                <div id="session_expired" class="line_margin border_notice color_notice_SESS_EXP_CLASS_">-TXT-YOUR-SESSION-EXPIRED-</div>
                <div id="session_logout" style="display:none" class="line_margin border_notice color_notice_SESS_EXP_CLASS_">-TXT-LOGOUT-</div>
                <div class="line_margin">-TXT-PLEASE-LOG-IN-</div>
                <div class="line_margin info_columns_left">
                    <div>
                        <label for="user_name">-TXT-USER-NAME-<span class="color_required">*</span></label>
                        <input id="user_name" type="text" name="user_name" value="_USER_NAME_" data-oci-main-validate="required-username"/>
                    </div>
                </div>
                <div class="line_margin info_columns_right">
                    <div>
                        <label for="password">-TXT-PASSWORD-<span class="color_required">*</span></label>
                        <input id="password" type="password" name="password" value="" data-oci-main-validate="required"/>
                    </div>
                </div>
                <div id="Log_In" class="line_margin">
                    <input type="button" value="-TXT-LOG-IN-" onclick="_oci.main.submit('step_00',this);" data-oci-main-form="validate"/>
                </div>
                
            </div>
 
