
            <div id="step_03" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
                <h1>-TXT-HEADER-</h1>
                <div class="line_margin">
                    <label for="emergency_name">-TXT-EMERGENCY-NAME-<span class="color_required">*</span></label>
                    <input id="emergency_name" type="text" name="emergency_name" value="_EMERGENCY_NAME_" data-oci-main-validate="required"/>
                </div>
                <div class="line_margin">
                    <label for="emergency_phone">-TXT-EMERGENCY-PHONE-<span class="color_required">*</span></label>
                    <input id="emergency_phone" type="tel" name="emergency_phone" value="_EMERGENCY_PHONE_" data-oci-main-validate="required"/>
                </div>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-CANCER-SURVIVOR-1-<br/>-TXT-CANCER-SURVIVOR-2-</td>
                            <td class="field">
	                            <label class="field_text">-TXT-CANCER-SURVIVOR-3-</label><span class="color_required">*</span><br /><br />
                                <input id="cancer_survivor_yes" type="radio" name="cancer_survivor" value="on" data-oci-main-validate="required"/><label class="radio_text" for="cancer_survivor_yes">Yes</label>
                                <input id="cancer_survivor_no" type="radio" name="cancer_survivor" value="off" data-oci-main-validate="required" /><label class="radio_text" for="cancer_survivor_no">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-VEGETARIAN-MEAL-1-<br/>-TXT-VEGETARIAN-MEAL-2-</td>
                            <td class="field">
	                            <label class="field_text" for="vegetarian_meal">-TXT-VEGETARIAN-MEAL-3-</label><span class="color_required">*</span><br /><br />
                                <input id="vegetarian_meal_yes" type="radio" name="vegetarian_meal" value="on" data-oci-main-validate="required" /><label class="radio_text" for="vegetarian_meal">Yes</label>
                                <input id="vegetarian_meal_no" type="radio" name="vegetarian_meal" value="off" data-oci-main-validate="required" /><label class="radio_text" for="vegetarian_meal">No</label>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
<!-- Begin adding years question -->
                <div class="line_margin">
                    <label for="years">-TXT-YEARS-<span class="color_required">*</span></label>
                    <input id="years" type="text" name="years" value="_YEARS_" data-oci-main-validate="required"/>
                </div>
<!-- Begin adding Jersey question 
                    <table class="line_margin_sub field_row">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_7" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_7_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_7">-TXT-JERSEY-REGISTER-7-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
--></br></br>
                    <label for="jersey_size_list">-TXT-JERSEY-SIZE-<span class="color_required">*</span></label>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_6" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_6_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_6">-TXT-JERSEY-REGISTER-6-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_5" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_5_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_5">-TXT-JERSEY-REGISTER-5-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_4" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_4_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_4">-TXT-JERSEY-REGISTER-4-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_3" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_3_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_3">-TXT-JERSEY-REGISTER-3-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_2" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_2_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_2">-TXT-JERSEY-REGISTER-2-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_1" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_1_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_1">-TXT-JERSEY-REGISTER-1-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="line_margin_sub field_row jerseyQ">
                        <tbody>
                            <tr>
                                <td class="field">
                                    <input id="jr_0" type="radio" name="jersey_option" value="_JERSEY_PRE_REGISTER_0_" onclick="_oci.show('next');" data-oci-main-validate="required" data-oci-main-input-not-text/>
                                </td>
                                <td>
                                    <label class="field_text" for="jr_0">-TXT-JERSEY-REGISTER-0-</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
<!-- Begin adding Shuttle question --></br></br>
				<hr>
                <table class="line_margin field_row">
	                <tbody>
		                <tr>
			                <td class="description">Throughout the Ride weekend, luxury complimentary shuttles will be provided to and from various event locations. Please review provided shuttles below and reserve a seat on any you may require.<br><br><em>Your bike will be handled safely by our Official Bike Transportation Partner, Mackie Group, and taken directly to the Start Line in Niagara Falls. It will be placed in our secure overnight bike parking area.</em></td>
		                </tr>
	                </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-Q1-SHUTTLE1-<br/>-TXT-Q1-SHUTTLE2-</td>
                            <td class="field">
	                            <label class="field_text" for="shuttle1">-TXT-Q1-SHUTTLE3-</label><span class="color_required">*</span><br /><br />
                                <input id="shuttle1" type="radio" name="shuttle1" value="on" data-oci-main-validate="required" /><label class="radio_text" for="shuttle1">Yes</label>
                                <input id="shuttle1" type="radio" name="shuttle1" value="off" data-oci-main-validate="required" /><label class="radio_text" for="shuttle1">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-Q2-SHUTTLE1-<br/><br/>-TXT-Q2-SHUTTLE2-</td>
                            <td class="field">
	                            <label class="field_text" for="shuttle2">-TXT-Q2-SHUTTLE3-</label><span class="color_required">*</span><br /><br />
                                <input id="shuttle2" type="radio" name="shuttle2" value="on" data-oci-main-validate="required" /><label class="radio_text" for="shuttle2">Yes</label>
                                <input id="shuttle2" type="radio" name="shuttle2" value="off" data-oci-main-validate="required" /><label class="radio_text" for="shuttle2">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-Q3-SHUTTLE1-<br/><br/>-TXT-Q3-SHUTTLE2-</td>
                            <td class="field">
	                            <label class="field_text" for="shuttle3">-TXT-Q3-SHUTTLE3-</label><span class="color_required">*</span><br /><br />
                                <input id="shuttle3" type="radio" name="shuttle3" value="on" data-oci-main-validate="required" /><label class="radio_text" for="shuttle3">Yes</label>
                                <input id="shuttle3" type="radio" name="shuttle3" value="off" data-oci-main-validate="required" /><label class="radio_text" for="shuttle3">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-Q4-SHUTTLE1-<br/><br/>-TXT-Q4-SHUTTLE2-</td>
                            <td class="field">
	                            <label class="field_text" for="shuttle4">-TXT-Q4-SHUTTLE3-</label><span class="color_required">*</span><br /><br />
                                <input id="shuttle4" type="radio" name="shuttle4" value="on" data-oci-main-validate="required" /><label class="radio_text" for="shuttle4">Yes</label>
                                <input id="shuttle4" type="radio" name="shuttle4" value="off" data-oci-main-validate="required" /><label class="radio_text" for="shuttle4">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-Q5-SHUTTLE1-<br/><br/>-TXT-Q5-SHUTTLE2-</td>
                            <td class="field">
	                            <label class="field_text" for="shuttle5">-TXT-Q5-SHUTTLE3-</label><span class="color_required">*</span><br /><br />
                                <input id="shuttle5" type="radio" name="shuttle5" value="on" data-oci-main-validate="required" /><label class="radio_text" for="shuttle5">Yes</label>
                                <input id="shuttle5" type="radio" name="shuttle5" value="off" data-oci-main-validate="required" /><label class="radio_text" for="shuttle5">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="description">-TXT-Q6-SHUTTLE1-<br/><br/>-TXT-Q6-SHUTTLE2-</td>
                            <td class="field">
	                            <label class="field_text" for="shuttle6">-TXT-Q6-SHUTTLE3-</label><span class="color_required">*</span><br /><br />
                                <input id="shuttle6" type="radio" name="shuttle6" value="on" data-oci-main-validate="required" /><label class="radio_text" for="shuttle6">Yes</label>
                                <input id="shuttle6" type="radio" name="shuttle6" value="off" data-oci-main-validate="required" /><label class="radio_text" for="shuttle6">No</label>
                            </td>

                        </tr>
                    </tbody>
                </table>
				<hr>
				<table class="line_margin field_row">
                    <tbody>
                        <thead>
                            <label for="route">-TXT-ROUTE-DESCRIPTION-<span class="color_required">*</span></label>&nbsp;&nbsp;<input id="route" type="number" min="1" max ="3" name="route" value="_ROUTE_" data-oci-main-validate="required"/>
                        </thead>
                        <tr>
	                        <td>
	                            -TXT-ROUTE1-
                            </td>
                        </tr>
                        <tr>
	                        <td >
                                -TXT-ROUTE2-
                            </td>
                        </tr>
                        <tr>
	                        <td>
                                -TXT-ROUTE3-
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
