
            <div id="step_04" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
                <h1>-TXT-HEADER-</h1>
<div class="row img-box no-margin-title">
<div class="small-12 large-12 columns no-padding">
<img class="image-cover-width wp-post-image" src="media/image/step_04.jpg" alt="fundraising" width="760" height="675" />        
</div>
</div>
            </div>
