
            <div id="step_05" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
                <h1>-TXT-HEADER-</h1>
                <div id="waiver" class="line_margin">
                    <div class="line_margin_sub">-TXT-WAIVER-1-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-2-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-3-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-4-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-5-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-6-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-7-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-8-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-9-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-10-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-11-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-12-</div>
                    <div class="line_margin_sub">-TXT-WAIVER-13-</div>
                    <hr>
                    <div class="line_margin_sub">-TXT-WAIVER-14-</div>
                </div>
                <div class="line_margin">
                    <label for="waiver_full_name">-TXT-WAIVER-FULL-NAME-<span class="color_required">*</span></label>
                    <input class="field_text" type="text" id="waiver_full_name" name="waiver_full_name" value="_WAIVER_FULL_NAME_" data-oci-main-validate="required"/>
                </div>
                <table class="line_margin field_row">
                    <tbody>
                        <tr>
                            <td class="field">
                                <input id="is_or_above_18" type="checkbox" name="is_or_above_18" onchange="_oci.step_05.waiver.over_18(this);" data-oci-main-validate="required" data-oci-main-input-not-text/>
                            </td>
                            <td>
                                <label class="field_text" for="is_or_above_18">-TXT-IS-OR-ABOVE-18-</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="line_margin">-TXT-PRINTABLE- <a href="javascript:window.print();">-TXT-WINDOW-PRINT-</a></div>
            </div>
