

            <div id="step_10" class="content">
                <div class="lang_div">Language -DROPDOWN-LANGUGES-   <input type="button" style=" font-size: 10px" value="-TXT-LOG-OUT-" onclick="_oci.main.user_logout();" data-oci-main-form="validate"/></div><br>
                <h1>-TXT-HEADER-1-<br/>-TXT-HEADER-2-</h1>
                <div class="line_margin font_bold amount_raised"><span class="color_complete">-TXT-AMOUNT-RAISED-</span>-TXT-CURRENCY-SYMBOL-_AMOUNT_RAISED_</div>
                <div class="line_margin info_columns_left">
                    <div>
                        <label>-TXT-NAME-FIRST-</label>
                        <span class="field_text word_break">_NAME_FIRST_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-NAME-LAST-</label>
                        <span class="field_text word_break">_NAME_LAST_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-GENDER-</label>
                        <span class="field_text word_break">_GENDER_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-PARTICIPATION-TYPE-NAME-</label>
                        <span class="field_text word_break">_PARTICIPATION_TYPE_NAME_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-TEAM-NAME-</label>
                        <span class="field_text word_break">_TEAM_NAME_</span>
                    </div>
                    <div class="line_margin_TMS_CLASS_">
                        <label>-TXT-TENTMATE-STATUS-</label>
                        <table class="field_text_box">
                            <tr>
                                <td class="field_text word_break">_TENTMATE_STATUS_</td>
                            </tr>
                        </table>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-UPSELL-PRE-REGISTER-</label>
                        <span class="field_text word_break">_UPSELL_PRE_REGISTER_</span>
                    </div>
                </div>
                <div class="line_margin info_columns_right">
                    <div>
                        <label>-TXT-PRIMARY-STREET1-</label>
                        <span class="field_text word_break">_PRIMARY_STREET1_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-PRIMARY-STREET2-</label>
                        <span class="field_text word_break">_PRIMARY_STREET2_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-PRIMARY-CITY-</label>
                        <span class="field_text word_break">_PRIMARY_CITY_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-PRIMARY-STATE-</label>
                        <span class="field_text word_break">_PRIMARY_STATE_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-PRIMARY-ZIP-</label>
                        <span class="field_text word_break">_PRIMARY_ZIP_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-EMAIL-PRIMARY-ADDRESS-</label>
                        <table class="field_text_box">
                            <tr>
                                <td class="field_text word_break">_EMAIL_PRIMARY_ADDRESS_</td>
                            </tr>
                        </table>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-EMERGENCY-NAME-</label>
                        <span class="field_text word_break">_EMERGENCY_NAME_</span>
                    </div>
                    <div class="line_margin">
                        <label>-TXT-EMERGENCY-PHONE-</label>
                        <span class="field_text word_break">_EMERGENCY_PHONE_</span>
                    </div>
                </div>
                    <div id="quick_choice" class="line_margin">
                    <input type="button" name="print" value="-TXT-PRINT-SCREEN-" onclick="window.print();"/>
                    <input type="button" name="return" value="-TXT-PARTICIPATION-CENTER-" onclick="_oci.open(decodeURIComponent('=URL=PARTICIPATION=CENTER='),'_self');"/>
                </div>
            </div>
